@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>See the <a href="@(Model.GetAddress(Model.TemplateConfiguration.ARMDeploymentInfo.TemplateName))">@Model.TemplateConfiguration.ARMDeploymentInfo.TemplateName</a></p>
    <p>See the <a href="@(Model.GetAddress(Model.TemplateConfiguration.ARMDeploymentInfo.UIDefinitionName))">@Model.TemplateConfiguration.ARMDeploymentInfo.UIDefinitionName</a></p>
    <p>See the <a href="@(Model.GetAddress("README.md"))">README.md</a></p>

    <p>
        <a href="@Model.DeploymentURL">
            <img src="~/images/deploytoazure.svg" alt="Deploy to Azure" />
        </a>
    </p>
</div>